.floating-menu-new {
    font-family: sans-serif;
    background: rgb(15, 59, 182);
    padding: 1px;;
    width: 150px;
    z-index: 100;
    position: fixed;
    bottom: 15%;
    left: 0px;
  }

  @media (max-width:100px) {
      .floating-menu-new {
          display: block;
      }
  }

  .floating-menu-new a {
    font-size: 0.9em;
    display: block;
    margin: 0 0.1em;
    color: rgb(233, 239, 245);
  }
 /*
  .floating-menu img {
    width: 60px;
    height: 60px;
  }
  */

